<!-- STO visible to large  device only-->
<div class="inner about-container visible-lg">
	<div class="title-top"></div>
	<h1 class="event-title">About Cartwheel</h1>
	<p>ATI Corporate Intranet for easy access to service to all employees that will allow them to complete timesheets, information such as policies, forms and templates. Communication of non-time-sensitive information. Collaboration among project teams, functional groups and offices',</p>
	<div class="col-md-12 about-cart-desc">
		<div class="col-lg-3 col-lg-offset-2">
			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et as nulla pariatur?"</p>
		</div>
		<div class="col-lg-4 col-lg-offset-2 ">
			<p class="text-color">
				ATI Corporate Intranet for easy access to service to all employees that will allow them to complete timesheets, information such as policies, forms and templates. Communication of non-time-sensitive information. Collaboration among project teams, functional groups and offices'
			</p>
			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, e reprehenderit qui in ea voluptate velit esse quam nihil molestiae"</p>
		</div>
		<div class="col-lg-12 text-center">
			<a class="btn colored-bg" href="mailto:Cartwheel@silver-atena.com"><i class="glyphicon glyphicon-send"></i></a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!--ENO visible to large  device only-->
<!-- STO visible to medium  device only-->
<div class="inner about-container visible-md">
	<div class="title-top"></div>
	<h2 class="event-title">About Cartwheel</h2>
	<p>ATI Corporate Intranet for easy access to service to all employees that will allow them to complete timesheets, information such as policies, forms and templates. Communication of non-time-sensitive information. Collaboration among project teams, functional groups and offices',</p>
	<div class="col-md-12 about-cart-desc">
		<div class="col-lg-3 col-lg-offset-2">
			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et as nulla pariatur?"</p>
		</div>
		<div class="col-lg-4 col-lg-offset-2 ">
			<p class="text-color">
				It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
				content here'
			</p>
			<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, e reprehenderit qui in ea voluptate velit esse quam nihil molestiae"</p>
		</div>
		<div class="col-lg-12 text-center">
			<a class="btn colored-bg" href="mailto:Cartwheel@silver-atena.com"><i class="glyphicon glyphicon-send"></i></a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!--ENO visible to medium  device only-->
<!-- STO visible to extra-small  device only-->
<div class="inner about-container visible-xs">
	<div class="title-top"></div>
	<h4 class="event-title">About Cartwheel</h4>
	<p>ATI Corporate Intranet for easy access to service to all employees that will allow them to complete timesheets, information such as policies, forms and templates. Communication of non-time-sensitive information. Collaboration among project teams, functional groups and offices',</p>
	<div class="col-md-12 about-cart-desc">
		<div class="col-lg-12 text-center">
			<a class="btn colored-bg" href="mailto:Cartwheel@silver-atena.com"><i class="glyphicon glyphicon-send"></i></a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!--ENO visible to extra-small device only-->
<!-- STO visible to small  device only-->
<div class="inner about-container visible-sm">
	<div class="title-top"></div>
	<h4 class="event-title">About Cartwheel</h4>
	<p>ATI Corporate Intranet for easy access to service to all employees that will allow them to complete timesheets, information such as policies, forms and templates. Communication of non-time-sensitive information. Collaboration among project teams, functional groups and offices',</p>
	<div class="col-md-12 about-cart-desc">
		<div class="col-lg-12 text-center">
			<a class="btn colored-bg" href="mailto:Cartwheel@silver-atena.com"><i class="glyphicon glyphicon-send"></i></a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!--ENO visible to small device only-->
